/* A4 794X1123px 
http://demo.cssmoban.com/cssthemes3/cpts_473_uu/index.html*/
/* css样式初始化 */
/* css样式初始化 */
*{padding: 0;margin: 0;}
*{box-sizing:border-box;}
* ::before{box-sizing:border-box;}
* ::after {box-sizing:border-box;}
ol,ul{list-style:none;}
a{text-decoration: none;color: inherit;}
.icon {
  display: none;
 }
 body{
     max-width: 794px;
     margin: 0 auto;
 }

/* 导航条样式 */
header{
    position: relative;
    z-index: -1;
}
header nav{   
    position:absolute;
    max-width: 794px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px 20px;
}
header nav .logo{
    font-family: "Hiragino Kaku Gothic Std";
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
}
nav .logo span:nth-child(1){
    color:#eecf8c;
}
nav .logo span:nth-child(2){
    color:#b7b7b7;
}
header nav ul{
    display: flex;
}
header nav ul>li{
    color:#dddbdb;
    font-family: "Hiragino Kaku Gothic Std";
    font-size: 12px;
    line-height: 40px;
    margin: 0 18px;   
}

/* 背景图 */
header .bgImg{
    width: 100%;
    height:515px;
    background-image: url(../img/2.jpg);
    background-position: center center; 
    background-size: cover;  
}
header .bgImg .mask{
    width :100%;
    height:100%;
    background-color:rgba(0,0,0,0.2);
}

/* 卡片样式 */
main .card{
    position: relative;
    background: white;
    max-width: 794px;
    margin: 40px auto;
    margin-top: -400px;
    /* border-top: 2px solid black; */
    /* border-bottom: 2px solid #aaa; */
}
main .card .content{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.card .content img{
    height: 346px;
    margin-right:50px ;
}
.card .content .text .hello{
    display: inline-block;
    background:#eecf8c;
    text-align: center;
    line-height: 30px;
    color:white;
    padding: 0 15px;
    position: relative;
    margin-bottom: 40px;
}
.card .content .text .hello::after{   
    content:'';
    display: block;
    width: 0;
    position: absolute;
    border:10px solid transparent;
    border-left-color: #eecf8c;
    border-top-width: 0;
    left: 4px;
    top:100%;
}
.card .content .text h1{
    font-size: 2em;
    font-weight: 400;
}
.card .content .text p{
    margin: 20px 0;
}
.card .content .text hr{
    border: 1px solid #dedede;
}
.card .content .text ul{
    /* position: absolute;
    top:0;
    left:0; */
    display: flex;
    flex-wrap: wrap;
    
}
.card .content .text ul>li{
    font-weight: bold;
    padding:8px 0;
}
.card .content .text ul>li:nth-child(odd){
    width: 30%;  
}
.card .content .text ul>li:nth-child(even){
    width: 70%;
    color: rgba(102, 97, 97,0.8);
}
.card .online{
    cursor: pointer;
    position: absolute;
    top:125px;
    right:170px;
 }
 .card .online a{
    display: inline-block;
    padding: 6px 10px;
    border-radius: 4px;
    outline: none;
    -webkit-transition: .1s;
    transition: .1s;
    cursor: pointer;
    line-height: 20px;
    font-size: 14px;
    flex-shrink: 0;
    text-align: center;
    color: #000;
    background: #ddd;
    border: 1px solid rgba(163, 161, 161, 0.514);
 }
main .footer{
    height: 0px;
    background-color: white;
}

/* download */
section.download{
   display: none;
}

main .skills h2{
    text-align: center;
}
main .skills .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background: white;
    width: 100%;
    max-width: 794px;
    margin: 40px auto;
    /* border-bottom: 2px solid #aaa; */
}
.skills .content .echarts{
    display:none;
}
.skills .content .skillsDescription{
    width: 100%;
    padding-left:100px ;      
}
.skills .content .skillsDescription h3{
    display: none;
}
.skills .content .skillsDescription ol>li{
    padding: 10px;
   
}
.skills .content .skillsDescription ol>li p{
    margin-left: 2em;
    margin-top: 1em;
    font-family: 楷体;
}

/* works */
section.works h2{
    text-align: center;
    padding-top:70px; 
}

.worksList{
    /* border-bottom: 2px solid #aaa; */
    max-width: 794px;
    margin: 40px auto;
}
.worksList > ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.worksList > ul > li{
    width: 100%;
    /* flex: 1 0 50%; */
    padding:30px 50px;
}
.worksList > ul > li:nth-child(5){
    width: 100%;
    /* flex: 1 0 50%; */
    padding:70px 50px 30px;
}
.worksList  ul > li  figure{
   width: 100%;
   display: flex;
   /* flex-direction: row-reverse; */
   flex-wrap: wrap;
   align-items: flex-start;
   border:1px solid #ddd;
   background: #eee;
   /* box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.75); */

}
/*
.worksList  ul > li:nth-child(4){
    display: none;
}
.worksList  ul > li:nth-child(5){
    display: none;
}
.worksList  ul > li:nth-child(6){
    display: none;
}
*/
.worksList  ul > li  figure > div.img{
    width: 30%;
    flex:0.3;
    height: 178px;
    /* flex-basis: 50%; */ 
}
.worksList  ul > li  figure > div.img.work1{
    background:url(../img/music.jpg) center center no-repeat;
    background-size: cover;
}
.worksList  ul > li  figure > div.img.work2{
    background:url(../img/weixin.png) center center no-repeat;
    background-size: cover;
}
.worksList  ul > li  figure > div.img.work3{
    background:url(../img/huaban.jpg) center center no-repeat;
    background-size: cover;
}
.worksList  ul > li  figure > div.img.work4{
    background:url(../img/picachu.png) center center no-repeat;
    background-size: cover;
}
.worksList  ul > li  figure > div.img.work5{
    background:url(../img/slide.png) center center no-repeat;
    background-size: cover;
}
.worksList  ul > li  figure > div.img.work6{
    background:url(../img/nav.png) center center no-repeat;
    background-size: cover;
}
.worksList  ul > li  figure > figcaption{
   flex:0.7;
   width: 70%;  
 
}
figure > figcaption h3{
    padding: 10px;
}
figure > figcaption div.descript{
    padding: 10px;
    height: 83px;
    text-overflow: ellipsis;
}
figure > figcaption div.works-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    overflow: hidden;
}
figure > figcaption a{
    display: inline-block;
    padding: 6px 10px;
    border-radius: 4px;
    outline: none;
    -webkit-transition: .1s;
    transition: .1s;
    cursor: pointer;
    line-height: 20px;
    font-size: 14px;
    flex-shrink: 0;
    text-align: center;
    color: #000;
    background: #ddd;
    border: 1px solid rgba(163, 161, 161, 0.514);
}
/* messages */
.messages{
    display:none;
}
section.description h2{
    text-align: center;
}
section.description .timeline{
   
    max-width: 600px;
    height: 100px;
    display:flex;
    margin: 150px auto;
}
section.description .timeline>ol{
    display: flex;
    
}
.timeline>ol>li {
    position: relative;
    /* border:1px solid red; */
    min-width: 150px;
}
.timeline>ol>li:nth-child(1) .timePoint1{
    position: absolute;
    top:-10px;
    left:-10px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: rgb(245,163,79);
}
.timeline>ol>li:nth-child(1) .timePoint2{
    position: absolute;
    bottom:0px;
    left:0px;
    width: 14px;
    height: 14px;
    border-radius: 0 14px  0 0;
    background: rgb(245,163,79);
}
.timeline>ol>li:nth-child(1) .timePoint3{
    position: absolute;
    bottom:0px;
    right:0px;
    width: 14px;
    height: 14px;
    border-radius:14px 0 0 0;
    background: rgb(245,163,79);
}
.timeline>ol>li:nth-child(1) .timePoint4{
    position: absolute;
    top:-85px;
    left:-35px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: rgb(245,163,79);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.842);
    font-weight: bold;
}
.timeline>ol>li:nth-child(1) .timePoint5{
    position: absolute;
    top:100%;
    left:0px;
    width: 100%;
    font-weight: bold;
   
    color: rgba(102, 97, 97,0.8);
    padding: 10px 0;
    text-align: left;   
}

.timeline>ol>li:nth-child(3) .timePoint1{
    position: absolute;
    top:-10px;
    left:-10px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: rgb(72,173,185);
}
.timeline>ol>li:nth-child(3) .timePoint2{
    position: absolute;
    bottom:0px;
    left:0px;
    width: 14px;
    height: 14px;
    border-radius: 0 14px  0 0;
    background: rgb(72,173,185);
}
.timeline>ol>li:nth-child(3) .timePoint3{
    position: absolute;
    bottom:0px;
    right:0px;
    width: 14px;
    height: 14px;
    border-radius:14px 0 0 0;
    background: rgb(72,173,185);
}
.timeline>ol>li:nth-child(3) .timePoint4{
    position: absolute;
    top:-85px;
    left:-35px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: rgb(72,173,185);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.842);
    font-weight: bold;
}
.timeline>ol>li:nth-child(3) .timePoint5{
    position: absolute;
    top:100%;
    left:0px;
    width: 100%;
    font-weight: bold;
  
    color: rgba(102, 97, 97,0.8);
    padding: 10px 0;
    text-align: left;   
}


.timeline>ol>li:nth-child(5) .timePoint1{
    position: absolute;
    top:-10px;
    left:-10px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: rgb(147,129,151);
}
.timeline>ol>li:nth-child(5) .timePoint2{
    position: absolute;
    bottom:0px;
    left:0px;
    width: 14px;
    height: 14px;
    border-radius: 0 14px  0 0;
    background: rgb(147,129,151);
}
.timeline>ol>li:nth-child(5) .timePoint3{
    position: absolute;
    bottom:0px;
    right:0px;
    width: 14px;
    height: 14px;
    border-radius:14px 0 0 0;
    background: rgb(147,129,151);
}
.timeline>ol>li:nth-child(5) .timePoint4{
    position: absolute;
    top:-85px;
    left:-35px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: rgb(147,129,151);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.842);
    font-weight: bold;
}
.timeline>ol>li:nth-child(5) .timePoint5{
    position: absolute;
    top:100%;
    left:0px;
    width: 100%;
    font-weight: bold;
   
    color: rgba(102, 97, 97,0.8);
    padding: 10px 0;
    text-align: left;   
}


.timeline>ol>li:nth-child(2) .timePoint1{
    position: absolute;
    bottom:-10px;
    left:-10px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: rgb(243,112,120);
}
.timeline>ol>li:nth-child(2) .timePoint2{
    position: absolute;
    top:0px;
    left:0px;
    width: 14px;
    height: 14px;
    border-radius:0 0 14px 0;
    background: rgb(243,112,120);
}
.timeline>ol>li:nth-child(2) .timePoint3{
    position: absolute;
    top:0px;
    right:0px;
    width: 14px;
    height: 14px;
    border-radius:0 0 0 14px;
    background: rgb(243,112,120);
}
.timeline>ol>li:nth-child(2) .timePoint4{
    position: absolute;
    bottom:-85px;
    left:-35px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: rgb(243,112,120);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.842);
    font-weight: bold;
}
.timeline>ol>li:nth-child(2) .timePoint5{
    position: absolute;
    bottom:100%;
    left:0px;
    width: 100%;
    font-weight: bold;
    
    color: rgba(102, 97, 97,0.8);
    padding: 10px 0;
    text-align: left;   
}

.timeline>ol>li:nth-child(4) .timePoint1{
    position: absolute;
    bottom:-10px;
    left:-10px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: rgb(162,185,114);
}
.timeline>ol>li:nth-child(4) .timePoint2{
    position: absolute;
    top:0px;
    left:0px;
    width: 14px;
    height: 14px;
    border-radius:0 0 14px 0;
    background: rgb(162,185,114);
}
.timeline>ol>li:nth-child(4) .timePoint3{
    position: absolute;
    top:0px;
    right:0px;
    width: 14px;
    height: 14px;
    border-radius:0 0 0 14px;
    background: rgb(162,185,114);
}
.timeline>ol>li:nth-child(4) .timePoint4{
    position: absolute;
    bottom:-85px;
    left:-35px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: rgb(162,185,114);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.842);
    font-weight: bold;
}
.timeline>ol>li:nth-child(4) .timePoint5{
    position: absolute;
    bottom:100%;
    left:0px;
    width: 100%;
    font-weight: bold;
   
    color: rgba(102, 97, 97,0.8);
    padding: 10px 0;
    text-align: left;   
}

.timeline>ol>li .content{
    width: 100%;
    height: 100%;
    position: absolute;
    left:0px;
    top:0px;
}
.timeline>ol li:nth-child(1) .content{
    top:0px;
    border-bottom:5px solid rgb(245,163,79);
    border-left:5px solid rgb(245,163,79);
}
.timeline>ol li:nth-child(2) .content{
    top:100%;
    border-top:5px solid rgb(243,112,120);
    border-left:5px solid rgb(243,112,120);
}
.timeline>ol li:nth-child(3) .content{
    top:0px;
    border-bottom:5px solid rgb(72,173,185);
    border-left:5px solid rgb(72,173,185);
}
.timeline>ol li:nth-child(4) .content{
    top:100%;
    border-top:5px solid rgb(162,185,114);
    border-left:5px solid rgb(162,185,114);
}
.timeline>ol li:nth-child(5) .content{
    top:0px;
    border-bottom:5px solid rgb(147,129,151);
    border-left:5px solid rgb(147,129,151);
}
.timeline>ol li .content .text{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 5px;
    font-family: 楷体;
}
















